
  body {
    background-color: #D3EBCD;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #635666;
    border-width:5px;
    width: 5%;
  }

  h1{
    color: #839AA8;
  }

  h3{
    color: #839AA8;
  }
